*.log
*.pyc
__pycache__/
!/blog/blog/empty.txt
!/blog/category/empty.txt
db.sqlite3
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/.idea.txt

!media/
media/*
!media/account/
media/account/*
!media/account/avatar/
media/account/avatar/*
!media/account/avatar/default.png
