@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}
.navbar-nav > li {
  display: inline-block;
  float:none;
}